@import '../../static/styles/variable.scss';

.app {
    &-app-siderbar {

    }

    &-container {
        margin-left: 200px;
        background-color: $color13;
        overflow: hidden;
    }
}

.no-second-menu {
    .app {
        &-container {
            margin-left: 90px;
        }
    }
}