.app-siderbar-second {
    position: fixed;
    top: 0;
    left: 90px;
    bottom: 0;
    width: 110px;
    background-color: red;

    &-title {
        padding-left: 20px;
        height: 50px;
        line-height: 50px;
    }
}
